* {
	margin:0;
	padding:0;
}

nav {
	float: right;
	padding:10px 13px 0px 0px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 5px 0 0;
	text-align: left;

}

nav ul ul { 
	margin: 0 12px;
	padding: 10px 0;
}

nav ul li {
	display: block;
	float: left;
	padding: 0px 2.1px;
	background-color:#092B4C;	
}

nav ul li li {
	padding: 0;
}


nav ul li a {
	display: block;
	float: left;
	padding: 14px 0px 17px;
    color:white;
    font-size: 0.88em;
	margin:0 10px 1px 12px;
    border-bottom: none;
	letter-spacing: 0px;
	font-weight:bold;
	
}

nav ul li a i { padding-right: 6px; }

nav ul li li a {
	float: none;
	//padding: 10px 5px;
	
}

nav ul li a:hover {
	color: #A2CCEC;
	text-decoration: none;
	
}

nav ul li.selected a, nav ul li.selected a:hover {
    background-color:#EEEEEE;
	color: #092B4C;
	//padding-right:8px;
	
}

nav ul li.selected a:hover {
	background-color: #EEEEEE !important;
	background-image: none !important;
}

nav ul li a:hover, nav ul li.sfHover a {
	 background-color:#EEEEEE;
	 color: #092B4C;
	// border-radius: 5px;
	 margin:0px 0px 0px 0px;
	 padding-left:10px;
	 padding-right:10px;
	 font-size: 0.88em;	 
	
}


nav ul li a.sf-with-ul:hover, nav ul li.sfHover a {
	background-color: #EEEEEE;
	color: #092B4C;
}


 nav ul li.sfHover ul a, nav ul ul {
	background: #EEEEEE;
	color: #092B4C;
}

nav ul li.sf-with-ul.selected ul a, nav ul li.selected ul, nav ul li.selected.sfHover a  {
	background-color: #EEEEEE;
	color: #092B4C;
}

nav ul li.sf-with-ul.selected ul li a:hover, nav ul li.selected.sfHover ul li a:hover {
	color: #fff;
	background-color: #092B4C !important;
}

nav ul li li a:hover, nav ul li.sfHover li a:hover {
	color: #fff;
	background-color: #092B4C !important;
}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			200px; /* left offset of submenus need to match (see below) */
	margin-top: 	10px;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			23px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			200px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/* intro */
div#intro {
	background-color: #222;
	background-image: url('../img2.jpg');
	background-position: left;
	background-repeat: no-repeat;
	margin:0px 12px 0px 11px;
}

div#intro_slider {
	background:#fff url(loading.gif) repeat 50% 50%;
	position:relative;
    transform: translate3d(0,0,0);
    box-shadow: 0px 0px 5px #999999;
	height:80px;/* Must be the same size as the slider images */
    border-radius: 3px;
	
}

div#intro .intro-content {
	padding: 65px 40px;
	text-align: left;
}

div#intro div.intro-content-short {
	padding: 30px 0 20px 20px;
	text-align: left;
}


div#intro h2 {
	text-shadow: 1px 1px 0 #000;
	font-size: 3em;
}

div#intro h2, div#intro p {
	color: #fff;
	font-weight: bold;
}

div#intro p {
	font-size: 1.3em;
	color: #ddd;
	line-height: 1.3em;
}

a.button-slider {
	padding: 10px 15px;
	font-size: 0.8em;
	text-align: center;
	margin: 5px 10px 5px 0;
}

a.button-slider i { padding-right: 5px; }



#body {
	background: none;
	margin: 1opx auto 0;
 	padding: 0 5px;
	clear: both;
}

.fixed-header #body { 
	padding-top: 80px; 
	margin-top: 0;
}

#content {
    float: left;
}

.two-column {
	width: 66%;
}

.three-column {
	width: 46%;
	margin: 0 2%;
}

.with-right-sidebar {
	margin-right: 2%;
	
}

.with-left-sidebar {
	margin-left: 2%;
}

article {
    padding: 10px 10px 20px 5px;
	
 }
article h4 {
   text-transform: capitalize;
}


article .article-info {
    color:#767676;
    font: 14px callabri;
    letter-spacing: -0.5px;
    padding: 0 0 10px 0;
	//font-weight:bold;
	
}

article .article-info a { 
	color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}

.sidebar {
	margin-top: 10px;
}

.small-sidebar { 
   width: 25%;
}

.big-sidebar {
	width: 30%;
}

.left-sidebar { 
	float: left;
}

.right-sidebar {
	float: right;
}



.sidebar h4 {
	padding-bottom: 0;
	font-size: 1.4em;
	letter-spacing: -1px;
	padding: 6px 0;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;
	padding: 10px;
}

.sidebar ul li.bg {
	background-color: #f0f0f0;
}


.sidebar .bg h4 {
	color: #666;
}


.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 7px 2px;
	margin: 0;
	line-height: 1.5em;
	font-size: 0.85em;
}

.sidebar li ul li ul {
	margin-top: 10px;
}

.sidebar li ul li li  {
	font-size: 1.0em;
	padding-left: 15px;
}



.sidebar li ul li.text { 
	border-bottom: none;
}


.sidebar li ul li a {
	 border-bottom-color: #666;
	color: #666;
}

.sidebar li ul li a:hover {
	 border-bottom-color: #2A5BBB;
	color: #2A5BBB;
}


.sidebar li ul li a.readmore {
   font-weight: bold;
}


.sidebar ul.blocklist {
	border-top: 1px solid #ddd;
}

.sidebar ul.blocklist li {
	padding: 0;
}

.sidebar ul.blocklist li a,
.sidebar ul.blocklist li a:hover {
	border-bottom: 0;
	display: block;
	border-bottom: 1px solid #ddd;
	padding: 12px 10px;

}

.sidebar ul.blocklist li a.selected {
    background-color: #EEEEEE;
    color: #092B4C;
	//border: 1px solid #2C5EC1;
	font-weight: bold;

}
.sidebar li ul.blocklist li li {
	font-size: 1.0em;
}

.sidebar li ul.blocklist ul {
	margin-top: 0;
}

.sidebar li ul.blocklist li li a,
.sidebar li ul.blocklist li li a:hover {
	padding-left: 25px;

}

.sidebar ul.newslist li {
	padding: 20px 5px;
	border-bottom: 1px dashed #ddd;
}

.sidebar ul.newslist p {
	margin-bottom: 0;
}

.sidebar ul.newslist span.newslist-date { 
	background-color: #224A98;
	border-bottom: 1px solid #2C5EC1;
	color: #fff;
	padding: 5px 10px;
}




.clear {
	clear: both;
}


.rightPartShadow { box-shadow: 0 0 5px 2px rgba(5, 10, 5, 0.2);}
.rightPartHomeInner { padding:0 15px; width:220px; }
.rightPart { padding:0 6px; width:140px; }


.innerRightShadow { background:url(../images/content-top-right-shadow.gif) 692px top no-repeat; height:15px; }
.shadowLeft { width:5px; background:url(../images/left-shaddow.jpg) left top repeat-y; }
.shadowRight { width:5px; background:url(../images/right-shaddow.jpg) right top repeat-y; }


#menuLeft, .seeAlsoNav { background-color: #FFFFFF; float: left; margin: 0 0 15px 0; margin-top:10px; clear:both; width:100%; }
#menuLeft li, .seeAlsoNav li { display:inline-block; width:100%; }
<!--#menuLeft li a, .seeAlsoNav li a, #menuLeft li .subNoLink { background: url(../images/bullet.gif) left 0.717em no-repeat; color: #515151; display: inline-block; line-height: 1.583em; padding: 5px 0 5px 10px; }-->
#menuLeft li a, .seeAlsoNav li a, #menuLeft li .subNoLink { left 0.717em no-repeat; color: #515151; display: inline-block; line-height: 1.583em; padding: 5px 0 5px 10px; }

#menuLeft li a:hover, .seeAlsoNav li a:hover { color: #0558A6; }






.topSitemap { background:url(images/sitemap-icon.png) left center no-repeat; padding-left:17px;/*width:4.1em; padding-left:14px;*/ }
.topContact { background:url(images/contact-icon1.png) 10px center no-repeat; padding-left:27px;/*width:3.8em; padding-left:12px;*/ }
.topFeedback { background:url(images/feedback-icon1.png) left center no-repeat; padding-left:20px;/*width:4.55em; padding-left:16px;*/ }







